$base-font-family: 'Oxygen';
$heading-font-family: $base-font-family;

body {
  font-family: $base-font-family;
  font-feature-settings: "kern", "liga", "pnum";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
}
